streamlit

langchain

langchain-community

langchain-google-genai

langchain-chroma

chromadb

sentence-transformers

transformers

torch

pypdf

python-dotenv

langchain-ollama

langchain-text-splitters

langchain-huggingface